<%-include("../partials/_header")%>

<div class="container">
  <div class="row">
    <div class="col-6 offset-3 mt-3">
      <h3>Create TinyURL</h3>
      <form action="/urls" method="POST">
        <div class="form-group mb-2">
          <label for="longURL">Enter a URL</label>
          <input class="form-control" type="text" name="longURL" placeholder="http://www.example.com">
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%-include("../partials/_footer")%>
 