<%-include("../partials/_header")%>

<div class="container">
    <div class="row">
      <div class="col-6 offset-3 mt-3">
      <h3>Create a TinyApp Account</h3>

      <form class="needs-validation" action="/registration" method="POST" novalidate>
        <div class="mb-3">
          <label for="email">Email Address </label>
          <input type="email" class="form-control" id="email" name="email" placeholder="example@email.com" required>
          <div class="invalid-feedback">
            Please enter a valid email address
          </div>
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
          <div class="invalid-feedback">
            Please enter your password
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
    </div>
  </div>
</div>

    <script>
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          const forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          const validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script>

<%-include("../partials/_footer")%>
    
   
